In [50]:
import pandas as pd
import requests
import json
import pymysql as py

# get link for the API with: english, from jan 2019 to end may 2020, 
https://apidatos.ree.es/en/datos/balance/balance-electrico?start_date=2019-01-01T00:00&end_date=2020-05-31T23:55&time_trunc=day

1st jan to 11 jun
        
demanda >> evolucion >> variacion-demanda-mensual / demanda-tiempo-real
generacion >> estructura-generacion && evolucion-estructura-generacion-emisiones-asociadas

In [61]:
headers = {"accept": "application/json"}
balance="https://apidatos.ree.es/en/datos/generacion/estructura-generacion?start_date=2019-01-01T00:00&end_date=2020-05-31T23:59&time_trunc=month"

In [62]:
response= requests.get(url=balance, headers=headers)

In [155]:
balance= response.json()

In [164]:
pd.DataFrame(balance["included"])

,type,id,groupId,attributes
0,Hydro,10288,None,"{'title': 'Hydro', 'description': None, 'color..."
1,Pumped storage,1445,None,"{'title': 'Pumped storage', 'description': Non..."
2,Nuclear,1446,None,"{'title': 'Nuclear', 'description': None, 'col..."
3,Coal,10289,None,"{'title': 'Coal', 'description': None, 'color'..."
4,Fuel + Gas,10290,None,"{'title': 'Fuel + Gas', 'description': None, '..."
5,Combined cycle,1454,None,"{'title': 'Combined cycle', 'description': Non..."
6,Hydroeolian,1455,None,"{'title': 'Hydroeolian', 'description': None, ..."
7,Wind,10291,None,"{'title': 'Wind', 'description': None, 'color'..."
8,Solar photovoltaic,1458,None,"{'title': 'Solar photovoltaic', 'description':..."
9,Thermal solar,1459,None,"{'title': 'Thermal solar', 'description': None..."
10,Other renewables,10292,None,"{'title': 'Other renewables', 'description': N..."
11,Cogeneration,10293,None,"{'title': 'Cogeneration', 'description': None,..."
12,Non-renewable waste,10294,None,"{'title': 'Non-renewable waste', 'description'..."
13,Renewable waste,10295,None,"{'title': 'Renewable waste', 'description': No..."

['Hydro']
['Hydro', 'Pumped storage']
['Hydro', 'Pumped storage', 'Nuclear']
['Hydro', 'Pumped storage', 'Nuclear', 'Coal']
['Hydro', 'Pumped storage', 'Nuclear', 'Coal', 'Fuel + Gas']
['Hydro', 'Pumped storage', 'Nuclear', 'Coal', 'Fuel + Gas', 'Combined cycle']
['Hydro', 'Pumped storage', 'Nuclear', 'Coal', 'Fuel + Gas', 'Combined cycle', 'Hydroeolian']
['Hydro', 'Pumped storage', 'Nuclear', 'Coal', 'Fuel + Gas', 'Combined cycle', 'Hydroeolian', 'Wind']
['Hydro', 'Pumped storage', 'Nuclear', 'Coal', 'Fuel + Gas', 'Combined cycle', 'Hydroeolian', 'Wind', 'Solar photovoltaic']
['Hydro', 'Pumped storage', 'Nuclear', 'Coal', 'Fuel + Gas', 'Combined cycle', 'Hydroeolian', 'Wind', 'Solar photovoltaic', 'Thermal solar']
['Hydro', 'Pumped storage', 'Nuclear', 'Coal', 'Fuel + Gas', 'Combined cycle', 'Hydroeolian', 'Wind', 'Solar photovoltaic', 'Thermal solar', 'Other renewables']
['Hydro', 'Pumped storage', 'Nuclear', 'Coal', 'Fuel + Gas', 'Combined cycle', 'Hydroeolian', 'Wind', 'Solar photovoltaic', 'Thermal solar', 'Other renewables', 'Cogeneration']
['Hydro', 'Pumped storage', 'Nuclear', 'Coal', 'Fuel + Gas', 'Combined cycle', 'Hydroeolian', 'Wind', 'Solar photovoltaic', 'Thermal solar', 'Other renewables', 'Cogeneration', 'Non-renewable waste']
['Hydro', 'Pumped storage', 'Nuclear', 'Coal', 'Fuel + Gas', 'Combined cycle', 'Hydroeolian', 'Wind', 'Solar photovoltaic', 'Thermal solar', 'Other renewables', 'Cogeneration', 'Non-renewable waste', 'Renewable waste']

type                                                      Hydro
id                                                        10288
groupId                                                    None
attributes    {'title': 'Hydro', 'description': None, 'color...
Name: 0, dtype: object

{'value': 2127215.051,
 'percentage': 0.08651240226195181,
 'datetime': '2019-01-01T00:00:00.000+01:00'}

[{'value': 2127215.051,
  'percentage': 0.08651240226195181,
  'datetime': '2019-01-01T00:00:00.000+01:00'},
 {'value': 2483405.474,
  'percentage': 0.12071258900609377,
  'datetime': '2019-02-01T00:00:00.000+01:00'},
 {'value': 2132667.288,
  'percentage': 0.10215918667969157,
  'datetime': '2019-03-01T00:00:00.000+01:00'},
 {'value': 1926065.412,
  'percentage': 0.09720449278642089,
  'datetime': '2019-04-01T00:00:00.000+02:00'},
 {'value': 1935367.585,
  'percentage': 0.09390792773637145,
  'datetime': '2019-05-01T00:00:00.000+02:00'},
 {'value': 1626545.723,
  'percentage': 0.07823430531305603,
  'datetime': '2019-06-01T00:00:00.000+02:00'},
 {'value': 1580258.707,
  'percentage': 0.06683653474927836,
  'datetime': '2019-07-01T00:00:00.000+02:00'},
 {'value': 1254839.948,
  'percentage': 0.05583724088465403,
  'datetime': '2019-08-01T00:00:00.000+02:00'},
 {'value': 1225077.788,
  'percentage': 0.0572903188455083,
  'datetime': '2019-09-01T00:00:00.000+02:00'},
 {'value': 1122321.832,
  'percentage': 0.053313971182814605,
  'datetime': '2019-10-01T00:00:00.000+02:00'},
 {'value': 2662286.54,
  'percentage': 0.11759440713740868,
  'datetime': '2019-11-01T00:00:00.000+01:00'},
 {'value': 4636390.96,
  'percentage': 0.20739946528011186,
  'datetime': '2019-12-01T00:00:00.000+01:00'},
 {'value': 3726052.734,
  'percentage': 0.16388932229912265,
  'datetime': '2020-01-01T00:00:00.000+01:00'},
 {'value': 2837911.121,
  'percentage': 0.13956065479735857,
  'datetime': '2020-02-01T00:00:00.000+01:00'},
 {'value': 3110807.383,
  'percentage': 0.14813521097959728,
  'datetime': '2020-03-01T00:00:00.000+01:00'},
 {'value': 2861130.675,
  'percentage': 0.16377330147329436,
  'datetime': '2020-04-01T00:00:00.000+02:00'},
 {'value': 2858050.01,
  'percentage': 0.15906511240077956,
  'datetime': '2020-05-01T00:00:00.000+02:00'}]

['Hydro', 'Pumped storage', 'Nuclear', 'Coal', 'Fuel + Gas', 'Combined cycle', 'Hydroeolian', 'Wind', 'Solar photovoltaic', 'Thermal solar', 'Other renewables', 'Cogeneration', 'Non-renewable waste', 'Renewable waste']