In [93]:
import pandas as pd

In [92]:
url = '../butter_team_project/initial_db/stay-at-home-covid.csv'

requirements = pd.read_csv(url, sep = ',', index_col = False)

In [75]:
requirements.head()

        Entity Code         Date  Stay at home requirements (OxBSG)
0  Afghanistan  AFG  Jan 1, 2020                                  0
1  Afghanistan  AFG  Jan 2, 2020                                  0
2  Afghanistan  AFG  Jan 3, 2020                                  0
3  Afghanistan  AFG  Jan 4, 2020                                  0
4  Afghanistan  AFG  Jan 5, 2020                                  0

In [87]:
# Create a dictionary for the requirements
req_description = {0: "No measures", 1: "Recommended not to leave the house", 2: "Required to not leave the house with exceptions for daily exercise, grocery shopping, and ‘essential’ trips", 3: "Required to not leave the house with minimal exceptions (e.g. allowed to leave only once every few days, or only one person can leave at a time, etc."}

# Create a new column and populate it with values in the Stay at home requirements. 
requirements['Description'] = requirements['Stay at home requirements (OxBSG)'].map(req_description)
requirements.head()

,Entity,Code,Date,Stay at home requirements (OxBSG),Description
0,Afghanistan,AFG,"Jan 1, 2020",0,No measures
1,Afghanistan,AFG,"Jan 2, 2020",0,No measures
2,Afghanistan,AFG,"Jan 3, 2020",0,No measures
3,Afghanistan,AFG,"Jan 4, 2020",0,No measures
4,Afghanistan,AFG,"Jan 5, 2020",0,No measures

In [90]:
def get_data_country(country):
    by_country = requirements['Entity']==country
    return requirements[by_country]

x = get_data_country("Spain")

,Entity,Code,Date,Stay at home requirements (OxBSG),Description
23555,Spain,ESP,"Jan 1, 2020",0,No measures
23556,Spain,ESP,"Jan 2, 2020",0,No measures
23557,Spain,ESP,"Jan 3, 2020",0,No measures
23558,Spain,ESP,"Jan 4, 2020",0,No measures
23559,Spain,ESP,"Jan 5, 2020",0,No measures
...,...,...,...,...,...
23713,Spain,ESP,"Jun 7, 2020",1,Recommended not to leave the house
23714,Spain,ESP,"Jun 8, 2020",1,Recommended not to leave the house
23715,Spain,ESP,"Jun 9, 2020",1,Recommended not to leave the house
23716,Spain,ESP,"Jun 10, 2020",1,Recommended not to leave the house
23717,Spain,ESP,"Jun 11, 2020",1,Recommended not to leave the house

In [96]:
# Rename the column "Stay at home requirements (OxBSG)" (original)
requirements = requirements.rename({'Stay at home requirements (OxBSG)': 'LockdownMeasuresId'}, axis=1)
requirements.head()

        Entity Code         Date  LockdownMeasuresId
0  Afghanistan  AFG  Jan 1, 2020                   0
1  Afghanistan  AFG  Jan 2, 2020                   0
2  Afghanistan  AFG  Jan 3, 2020                   0
3  Afghanistan  AFG  Jan 4, 2020                   0
4  Afghanistan  AFG  Jan 5, 2020                   0